<footer>
  <div class="footer-logo">
    <div>
      <h4 class="footer-text">I&A</h4>
      <h4 class="footer-text">Conocimiento, creatividad y excelencia a tu servicio</h4>
    </div>
    <a href="#"><img src="/images/white_logo.png" alt="" /></a>
  </div>
</footer>