<header class="main-header">


  <div class="main-header">
    <nav class="main-navbar">
      <ul class="main-logo">
        <li><a href="#">LOGO</a></li>
      </ul>
      
      <ul class="main-right-bar">
        <li><a href="#">INICIO</a></li>
        <li><a href="/services">NOSOTROS</a></li>
        <li><a href="/services">SERVICIOS</a></li>
        <li><a href="#">PORTAFOLIO</a></li>
        <li><a href="#">CONTACTANOS</a></li>
      </ul>
    </nav>
  </div>


</header>