<header class="main-header">


  <div class="main-header main-navbar-hide">
    <nav class="main-navbar">
      <ul class="main-logo">
        <h4>INGENIERÍA & ARQUITECTURA</h4>
        <a href="#"><img src="/images/simple_logo.png" alt="" /></a>
      </ul>
      
      <ul class="main-right-bar">
        <li><a href="#">INICIO</a></li>
        <li><a href="#about-us">NOSOTROS</a></li>
        <li><a href="#services">SERVICIOS</a></li>
        <li><a href="#portfolio">PORTAFOLIO</a></li>
        <li><a href="#contact">CONTÁCTANOS</a></li>
      </ul>
    </nav>
  </div>

  <div class="main-header-mobile-container">
    <nav class="main-navbar-mobile">
      <ul class="main-logo-mobile">
        <a><img src="/images/simple_logo.png" alt="" /></a>
        <h4>INGENIERÍA & ARQUITECTURA</h4>
      </ul>
      <div class="hamburguer-button">
        <a id="button-menu"><i class="fa-solid fa-bars"></i></a>
      </div>
    </nav>
  </div>


</header>

<nav id="nav" class="main-nav show">
  <div class="close-button">
    <a id="button-menu-close"><i class="fa-solid fa-xmark close-menu"></i></a>
  </div>
  <ul class="main-logo-menu">
    <a href="#"><img src="/images/white_logo.png" alt="" /></a>
    <h4>INGENIERÍA & ARQUITECTURA</h4>
  </ul>
  <ul class="nav-links">
    <li><a class="link-item close-menu" href="#">INICIO</a></li>
    <li><a class="link-item close-menu" href="#about-us">NOSOTROS</a></li>
    <li><a class="link-item close-menu" href="#services">SERVICIOS</a></li>
    <li><a class="link-item close-menu" href="#portfolio">PORTAFOLIO</a></li>
    <li><a class="link-item close-menu" href="#contact">CONTÁCTANOS</a></li>
  </ul>
</nav>