<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

  <section>
    <div class="banner-img">
      <a href="#"><img src="/images/banner.jpg" alt="" /></a>
    </div>
  </section>
  
  <h1 class="banner-text">El mejor equipo como tu aliado en el diseño de tus proyectos y al servicio de tus ideas</h1>
  
  <div>
    <ul class="focuses-container">
      <li>
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#">INGENIERÍA HIDRÁULICA</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#">ARQUITECTURA</a>
      </li>
      <li>
        <a href="#"><i class="fa-solid fa-user"></i></a>
        <a href="#">INGENIERÍA ESTRUCTURAL</a>
      </li>
    </ul>
  </div>

  <script src="/js/header.js"></script>
</body>
</html>