<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

  <section>
    <div class="banner-img">
      <a href="#"><img src="/images/2.png" alt="" /></a>
    </div>
  </section>
  
  <h1 class="banner-text">Conocimiento, creatividad y <span class="highlighted">excelencia</span> a tu servicio</h1>

  <h3 id="about-us"></h3>

  <div>
    <ul class="focuses-container">
      <li>
        <a href="#services"><img src="/images/img4.png" alt="" /></a>
        <a href="#services">INGENIERÍA <span class="bold-700">HIDRÁULICA</span></a>
      </li>
      <li>
        <a href="#services"><img src="/images/img5.png" alt="" /></a>
        <a href="#services"><span class="bold-700">ARQUITECTURA</span></a>
      </li>
      <li>
        <a href="#services"><img src="/images/img6.png" alt="" /></a>
        <a href="#services">INGENIERÍA <span class="bold-700">ESTRUCTURAL</span></a>
      </li>
    </ul>
  </div>

  <div class="about-us-container">
    <div class="about-us-container-left">
      <h2>NOSOTROS</h2>

      <h3 id="services"></h3>

      <h3>Ingeniería y Arquitectura es un equipo de dos profesionales independientes con un enfoque integral
        para el desarrollo de proyectos en arquitectura, ingeniería estructural, 
        ingeniería hidráulica e hidrológica. Nos dedicamos a convertir sus ideas en realidad, 
        ofreciendo soluciones que no solo son funcionales y estéticas, 
        sino que también garantizan superar sus expectativas.
        Hemos desarrollado nuestra experiencia principalmente en la ciudad de Manizales 
        y en el área del eje cafetero, lo que nos ha permitido comprender las particularidades de la región. 
        No obstante, estamos dispuestas a desarrollar proyectos en toda Colombia, 
        llevando nuestra dedicación y conocimiento a cada rincón del país.
      </h3>
    </div>
    <div class="about-us-container-img">
      <a href="#services"><img src="/images/img7.png" alt="" /></a>
    </div>
  </div>

  <h1 class="services">SERVICIOS</h1>

  <h2 class="services-container-left"> INGENIERÍA HIDRÁULICA </h2>
  <div class="services-container">
    <div>
      <a href="#services"><img class="services-container-img" src="/images/img8.png" alt="" /></a>
    </div>
    <ul class="services-container-right">
      <li> Diseño de <span class="highlighted bold">redes hidráulicas</span> de <span class="bold">acueducto</span> y <span class="bold">alcantarillado</span> </li>
      <li> Diseño de redes <span class="bold">hidrosanitarias</span> </li>
      <li> Diseño de redes <span class="highlighted bold">contra incendio</span> </li>
      <li> Diseño hidráulico de <span class="bold">piscinas</span>  y <span class="bold">jacuzzis</span>  </li>
      <li> Proyectos de <span class="bold">drenaje vial</span> y estructuras hidráulicas </li>
      <li> <span class="bold">Estudios hidrológicos</span>  y de gestión del agua </li>
    </ul>
  </div>

  <h2 class="services-container-left text-arq"> ARQUITECTURA </h2>
  <div class="services-container">
    <ul class="services-container-right">
      <li> <span class="highlighted bold">Diseño</span> <span class="bold">arquitectónico</span> </li>
      <li> <span class="bold">Remodelaciones</span> y ampliaciones </li>
      <li> Diseño de <span class="highlighted bold">interiores</span> </li>
      <li> Diseño de <span class="bold">mobiliario</span> </li>
      <li> Espacio <span class="bold">público</span> y urbanismo</li>
      <li> <span class="bold">Levantamientos</span> y diagnósticos </li>
    </ul>
    <a href="#services"><img class="services-container-img" src="/images/8.png" alt="" /></a>
  </div>

  <h2 class="services-container-left"> INGENIERÍA ESTRUCTURAL </h2>
  <div class="services-container">
    <div>
      <a href="#services"><img class="estructural-img" src="/images/img10.png" alt="" /></a>
    </div>
    <ul class="services-container-right">
      <li> <span class="bold">Diseño</span> y <span class="highlighted bold">análisis estructural</span> </li>
      <li> Cálculo y <span class="bold">dimensionamiento</span> de estructuras </li>
      <h3 id="portfolio"></h3>
      <li> Proyectos de <span class="bold">refuerzo</span> y <span class="bold">rehabilitación</span> </li>
    </ul>
  </div>

  <div class="portfolio-container">
    <div class="portfolio-container-left">
      <h2>PORTAFOLIO</h2>
      <p>
        Hemos trabajado en una variedad de proyectos, demostrando nuestra experiencia en arquitectura, 
        diseño estructural y diseños hidráulicos. En el campo de la arquitectura, 
        hemos desarrollado el diseño y construcción de una casa unifamiliar moderna,
        realizado levantamientos y diagnósticos arquitectónicos y estructurales en Palmira y Pereira,
        y llevado a cabo un proyecto de mobiliario personalizado. En cuanto a diseños estructurales,
        hemos diseñado viaductos en La Dorada y Guaduas, así como estructuras de alivio y estaciones de bombeo.
        También hemos trabajado en diseños para plantas de tratamiento de aguas residuales y en el proyecto Sacúdete Recreo Deportivo.
        En diseños hidráulicos, hemos realizado sistemas para el Centro Vida/Día del Adulto Mayor en Bello, Antioquia,
        mejorado redes de sistemas contra incendio, y desarrollado proyectos hidráulicos para centros recreativos como Los Araguatos y La Rochela,
        además de proyectos de drenaje vial y estructuras hidráulicas.
      </p>

      <div class="see-portfolio">
        <h3>
          Te invitamos a conocer más detalles de nuestro trabajo en nuestro portafolio.
        </h3>
        <a href="#">Ver portafolio</a>
      </div>
    </div>
    <div class="portfolio-container-img">
      <a href="#"><img src="/images/simple_logo.png" alt="" /></a>
    </div>
  </div>

  <h1 class="services">NUESTRO EQUIPO</h1>

  
  <div class="our-team-container">
    <div class="our-team-left">
      <h3 class="our-team-name">Evelyn Esperanza Burbano Argoty</h3>
      <h3 class="our-team-position">Ingeniera Civil</h3>
      <h3 class="our-team-description">Especialista en Estructuras</h3>
      <h3 class="our-team-description">Magíster en Ingeniería - Recursos Hidráulicos</h3>
      <h3 class="our-team-description">Universidad Nacional de Colombia</h3>
      <p>Experiencia en diseño, coordinación y consultoría en proyectos de Ingeniería civil de gran envergadura,
        que han comprendido diseños Hidráulicos, Hidrológicos y Estructurales. Además,
        con una amplia trayectoria en diseños hidráulicos y de redes contra incendios, 
        para proyectos públicos y privados.
      </p>
    </div>
    <h3 id="contact"></h3>
    <div class="our-team-right">
      <h3 class="our-team-name">Daniela Correa Merchán</h3>
      <h3 class="our-team-position">Arquitecta</h3>
      <h3 class="our-team-description">Magíster en Arquitectura</h3>
      <h3 class="our-team-description">Universidad Nacional de Colombia</h3>
      <p>Experiencia en el diseño arquitectónico de viviendas unifamiliares, bifamiliares y multifamiliares, 
        así como en proyectos de interiorismo y diseño de mobiliario. 
        Además, con trayectoria en proyectos institucionales, comerciales, 
        urbanos y de espacios públicos a diversas escalas.
      </p>
    </div>
  </div>

  <h1 class="services">CONTACTANOS</h1>
  <div class="our-team-container">
    <div class="our-team-left">
      <h3 class="contact-text">Consulta fácilmente por cualquiera de nuestros servicios.</h3>
      <h3 class="contact-text">Escríbenos y estaremos felices de responderte y colaborarte.</h3>

      <h3 class="contact-mail"> <i class="fa-regular fa-envelope"></i> eeburbanoa7@gmail.com</h3>
      <h3 class="contact-phone"> <i class="fa-brands fa-whatsapp"></i> +57 3157078762</h3>

      <h3 class="contact-mail"> <i class="fa-regular fa-envelope"></i> dcorream5@gmail.com</h3>
      <h3 class="contact-phone"> <i class="fa-brands fa-whatsapp"></i> +57 3127360053</h3>


    </div>
    <div class="our-team-right">
      <a href="#"><img src="/images/simple_logo.png" alt="" /></a>
      <h3 class="contact-text-2"> <i class="fa-solid fa-location-dot icon-location"></i> Manizales, Colombia</h3>
      <h3 class="contact-text-2">¡No te preocupes, remotamente funciona perfecto!</h3>
    </div>
  </div>

  <%- include('./partials/footer') %>

  <script src="/js/header.js"></script>
</body>
</html>