<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
  <%- include('./partials/header') %>

  <section>
    <div class="banner-img">
      <a href="#"><img src="/images/banner.jpg" alt="" /></a>
    </div>
  </section>
  
  <div></div>
  <h1>Home</h1>
  <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minima tempora distinctio doloremque officia expedita in illum? Impedit temporibus voluptates corrupti quod quae a error consectetur quisquam non iusto, nihil deserunt!</h3>

  <script src="/js/header.js"></script>
</body>
</html>