:root {
  --sizeFactor: 0.7em;
  --bannerTextLocation: 1em;
  --textColor: #575757;
  --headerTextColor: #003C65;
  --footerBarColor: #003C65;
  --headerBarColor: #DADADA;
  --headerBarHiddenColor: rgb(218, 218, 218, 0.7);
  --bannerTextColor: #307FE2;
  --backgroundCardColor: #EEF2F4;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.main-navbar{
  /* background-color: transparent; */
  background-color: var(--headerBarHiddenColor);
  display: flex;
}

.main-navbar-color{
  background-color: var(--headerBarColor);
  box-shadow: 3px 3px 3px rgba(41, 41, 41, 0.5);
}

.main-navbar ul {
  list-style: none;
  margin: 0px;
  /* padding: 1.5em 1em; */
  padding: calc(var(--sizeFactor) * 1.5) calc(var(--sizeFactor) * 1);
  text-decoration: none;
  display: flex;
  align-items: center;

}

.main-navbar li {
  padding: 15px 25px;
}

.main-navbar a {
  font-size: calc(var(--sizeFactor) * 1);
  color: var(--headerTextColor);
  font-weight: bold;
}

.main-logo {
  width: 50%;
  align-items: center;
  justify-content: center;
}

.main-logo img {
  width: calc(var(--sizeFactor) * 7);
}

.main-logo h4 {
  text-align: center;
  font-size: calc(var(--sizeFactor) * 1);
  color: var(--headerTextColor);
  margin: calc(var(--sizeFactor));
  width: calc(var(--sizeFactor) * 10);
}

/* .main-right-bar {
  width: 50%;
} */

@media (min-width: 361px) {
  .main-logo {
    width: 20%;
  }
  
}

@media(min-width: 768px) {
  .main-logo {
    width: 30%;
    align-items: center;
  }

}

@media (min-width: 1200px) {
  .main-logo {
    width: 30%;
    align-items: center;
  }
  
}

@media (min-width: 1400px) {
  .main-logo {
    width: 40%;
    align-items: center;
  }
  
}